.app-title {
  font-size: 3em; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold; /* Negrita para resaltar el título */
  color: #333; /* Ajusta el color según tus preferencias */
  text-align: center; /* Opcional: centra el texto */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  font-family: 'Arial', sans-serif; /* Fuente para un aspecto moderno */
}
